<div class="card border-radius">
  <img [src]="product?.imageUrl" class="card-img-top border-radius" alt="Card image cap" />
  <div class="card-body">
    <h5 class="card-title">{{ product?.title }}</h5>
    <span class="card-text">{{ product?.price | currency: 'R':true }}</span>
    <span class="float-right">
      <button
        pButton
        type="button"
        icon="pi pi-shopping-cart"
        class="p-button-raised p-button-rounded"
        (click)="addToCart()"
        [disabled]="isAddedToCart()"
        [pTooltip]="toolTipLabel()"
      ></button>
    </span>
  </div>
</div>
