<div class="row justify-content-center">
  <div class="col-md-6">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <!--      <h2 id="jhi-product-heading" data-cy="ProductCreateUpdateHeading" jhiTranslate="eshopApp.product.home.createOrEditLabel">-->
      <!--        Create or edit a Product-->
      <!--      </h2>-->

      <div>
        <jhi-alert-error></jhi-alert-error>

        <!--        <div class="form-group" [hidden]="editForm.get('id')!.value == null">-->
        <!--          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>-->
        <!--          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id"-->
        <!--                 [readonly]="true"/>-->
        <!--        </div>-->

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="eshopApp.product.category" for="field_category">Category</label>
          <select class="form-control" name="category" formControlName="category" id="field_category" data-cy="category">
            <option [ngValue]="null">{{ 'eshopApp.Category.null' | translate }}</option>
            <option *ngFor="let category of categoryValues" [value]="category">{{ 'eshopApp.Category.' + category | translate }}</option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="eshopApp.product.title" for="field_title">Title</label>
          <input type="text" class="form-control" name="title" id="field_title" data-cy="title" formControlName="title" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="eshopApp.product.price" for="field_price">Price</label>
          <input type="number" class="form-control" name="price" id="field_price" data-cy="price" formControlName="price" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="eshopApp.product.imageUrl" for="field_imageUrl">Image Url</label>
          <input type="text" class="form-control" name="imageUrl" id="field_imageUrl" data-cy="imageUrl" formControlName="imageUrl" />
        </div>
      </div>
      <div style="margin-top: 3rem">
        <button
          pButton
          type="button"
          id="cancel-save"
          data-cy="entityCreateCancelButton"
          class="btn btn-secondary"
          label="Cancel"
          icon="pi pi-times"
          (click)="previousState()"
        ></button>

        <button pButton type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" label="Save" icon="pi pi-check"></button>
      </div>
      <!--      <span class="p-buttonset">-->
      <!--        <button pButton type="button" label="Cancel" icon="pi pi-times"></button>-->
      <!--        <button pButton type="button" label="Save" icon="pi pi-check"></button>-->
      <!--      </span>-->
    </form>
  </div>
  <div class="col-md-6">
    <div class="card" style="border-radius: 7px">
      <img style="border-radius: 7px" [src]="editForm.get('imageUrl')!.value" class="card-img-top" />
      <div class="card-body">
        <h5 class="card-title">{{ editForm.get('title')!.value }}</h5>
        <p class="card-text">{{ editForm.get('price')!.value | currency: 'R':true }}</p>
      </div>
    </div>
  </div>
</div>
