<div class="card" style="border-radius: 7px">
  <img style="border-radius: 7px; height: 250px" [src]="product?.imageUrl" class="card-img-top" alt="Card image cap" />
  <div class="card-body">
    <h5 class="card-title">{{ product?.title }}</h5>
    <span class="card-text">{{ product?.price | currency: 'R':true }}</span>
    <span style="float: right"
      ><p-button (click)="addToCart()" [disabled]="isAddedToCart()" icon="pi pi-shopping-cart" [pTooltip]="toolTipLabel()"></p-button
    ></span>
  </div>
</div>
