.card-footer {
  padding: 0;
}

.card {
  margin-top: 30px;
}

.padding {
  padding: 6px;
}

.pi {
  font-size: 1.5rem;
}

.p-button.p-button-icon-only.p-button-rounded {
  left: 7px;
  bottom: 7px;
  border-radius: 50%;
  height: 2.357rem;
}
