<div *ngIf="isLoading" style="margin-top: 20%; margin-left: 50%">
  <p-progressSpinner></p-progressSpinner>
</div>

<div *ngIf="!isLoading" class="row">
  <div class="col-3" style="margin-top: 20px">
    <!--    <shop-filter [category] = "category"></shop-filter>-->
    <div class="sticky-top">
      <div class="list-group">
        <a class="list-group-item list-group-item-action" [class.active]="!category" routerLink="/" (click)="seeAllCategories()">
          All Categories
        </a>
        <a
          *ngFor="let c of categories"
          routerLink="/"
          (click)="filterProducts(c)"
          class="list-group-item list-group-item-action"
          [class.active]="category === c.valueOf()"
        >
          {{ c.valueOf() }}
        </a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="product-list">
      <div *ngIf="this.shoppingCartService.shoppingCarts" class="row">
        <ng-container *ngFor="let product of filteredProducts; let i = index">
          <div class="col">
            <product-card [product]="product" [shoppingCart]="getShoppingCartByProduct(product)"></product-card>
          </div>
          <div *ngIf="(i + 1) % 2 === 0" class="w-100"></div>
        </ng-container>
      </div>
      <div class="no-products" *ngIf="filteredProducts?.length === 0">
        {{ 'No products for this category!' }}
      </div>
    </div>
  </div>
</div>
