.dropdown-toggle {
  cursor: pointer;
}

.badge-warning {
  position: absolute;
  margin-left: -10px;
}

.container-fluid {
  padding-right: 230px;
  padding-left: 230px;
}

.p-dialog .p-dialog-header {
  border-bottom: 0 none;
  background: #ffffff;
  color: #495057;
  padding: 1.5rem 1.5rem 0;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
