<!--<div class="row justify-content-center">-->
<!--  <div class="col-8">-->
<!--    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">-->
<!--      <h2-->
<!--        id="jhi-shopping-cart-heading"-->
<!--        data-cy="ShoppingCartCreateUpdateHeading"-->
<!--        jhiTranslate="eshopApp.shoppingCart.home.createOrEditLabel"-->
<!--      >-->
<!--        Create or edit a Shopping Cart-->
<!--      </h2>-->

<!--      <div>-->
<!--        <jhi-alert-error></jhi-alert-error>-->

<!--        <div class="form-group" [hidden]="editForm.get('id')!.value == null">-->
<!--          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>-->
<!--          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />-->
<!--        </div>-->

<!--        <div class="form-group">-->
<!--          <label class="form-control-label" jhiTranslate="eshopApp.shoppingCart.quantity" for="field_quantity">Quantity</label>-->
<!--          <input type="number" class="form-control" name="quantity" id="field_quantity" data-cy="quantity" formControlName="quantity" />-->
<!--        </div>-->

<!--        <div class="form-group">-->
<!--          <label class="form-control-label" jhiTranslate="eshopApp.shoppingCart.shopUser" for="field_shopUser">Shop User</label>-->
<!--          <select class="form-control" id="field_shopUser" data-cy="shopUser" name="shopUser" formControlName="shopUser">-->
<!--            <option [ngValue]="null"></option>-->
<!--            <option-->
<!--              [ngValue]="shopUserOption.id === editForm.get('shopUser')!.value?.id ? editForm.get('shopUser')!.value : shopUserOption"-->
<!--              *ngFor="let shopUserOption of shopUsersCollection; trackBy: trackShopUserById"-->
<!--            >-->
<!--              {{ shopUserOption.id }}-->
<!--            </option>-->
<!--          </select>-->
<!--        </div>-->

<!--        <div class="form-group">-->
<!--          <label class="form-control-label" jhiTranslate="eshopApp.shoppingCart.product" for="field_product">Product</label>-->
<!--          <select class="form-control" id="field_product" data-cy="product" name="product" formControlName="product">-->
<!--            <option [ngValue]="null"></option>-->
<!--            <option-->
<!--              [ngValue]="productOption.id === editForm.get('product')!.value?.id ? editForm.get('product')!.value : productOption"-->
<!--              *ngFor="let productOption of productsSharedCollection; trackBy: trackProductById"-->
<!--            >-->
<!--              {{ productOption.id }}-->
<!--            </option>-->
<!--          </select>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div>-->
<!--        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">-->
<!--          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>-->
<!--        </button>-->

<!--        <button-->
<!--          type="submit"-->
<!--          id="save-entity"-->
<!--          data-cy="entityCreateSaveButton"-->
<!--          [disabled]="editForm.invalid || isSaving"-->
<!--          class="btn btn-primary"-->
<!--        >-->
<!--          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>-->
<!--        </button>-->
<!--      </div>-->
<!--    </form>-->
<!--  </div>-->
<!--</div>-->

<div *ngIf="shoppingCarts.length > 0" style="margin-top: 80px">
  <p-table [value]="shoppingCarts" responsiveLayout="scroll">
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        Products
        <button
          style="float: right; margin-left: 5px"
          pButton
          type="button"
          label="Checkout"
          icon="pi pi-shopping-cart"
          class="p-button-sm"
        ></button>
        <button
          style="float: right"
          pButton
          type="button"
          label="Clear Cart"
          icon="pi pi-trash"
          class="p-button-warning p-button-sm"
          (click)="clearCart()"
        ></button>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>Image</th>
        <th>Category</th>
        <th>Title</th>
        <th>Price</th>
        <th>Quantity</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-shoppingCart>
      <tr>
        <td>
          <img style="border-radius: 5px" [src]="shoppingCart.product.imageUrl" [alt]="shoppingCart.name" width="100" class="p-shadow-4" />
        </td>
        <td>{{ shoppingCart.product.category }}</td>
        <td>{{ shoppingCart.product.title }}</td>
        <td>{{ shoppingCart.product.price * getQuantity(shoppingCart.product) | currency: 'ZAR' }}</td>
        <td>
          <div class="card-footer">
            <div class="row no-gutters">
              <div class="col-2">
                <button (click)="removeFromCart(shoppingCart.product)" class="btn btn-secondary btn-block">-</button>
              </div>
              <div class="col text-center padding">{{ getQuantity(shoppingCart.product) }} in cart</div>
              <div class="col-2">
                <button (click)="addToCart(shoppingCart.product)" class="btn btn-secondary btn-block">+</button>
              </div>
            </div>
          </div>
        </td>
        <td style="padding-left: 60px">
          <button
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-rounded p-button-warning"
            (click)="deleteSelectedProducts(shoppingCart.product)"
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-end p-jc-between">Total price: {{ getTotalPrice() }}</div>
    </ng-template>
  </p-table>
  <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
</div>
<div *ngIf="shoppingCarts.length === 0">No items available!</div>
