.card-footer {
  padding: 0;
  border-top: none;
}

.card {
  margin-top: 30px;
}

.padding {
  padding: 6px;
}

.btn-secondary {
  padding-right: 20px;
}

.p-datatable .p-datatable-footer {
  background: #f8f9fa;
  color: #495057;
  padding: 1rem 1rem;
  font-weight: 600;
  height: 50px;
}
