.card-footer {
  padding: 0;
  border-top: none;
}

.card {
  margin-top: 30px;
  border-radius: 0.5rem !important;
}

.padding {
  padding: 6px;
}

.btn-secondary {
  padding-right: 20px;
}

.p-datatable .p-datatable-footer {
  background: #f8f9fa;
  color: #495057;
  padding: 1rem 1rem;
  font-weight: 600;
  height: 50px;
}

.p-dialog .p-dialog-header {
  font-weight: normal;
  border-bottom: 0 none;
  background: #ffffff;
  color: #495057;
  padding: 1.5rem 1.5rem 0;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.ui-dialog .ui-dialog-title {
  float: left;
  margin: 0.3em 16px 0.1em 0;
  background: blue;
}

.ui-dialog .ui-dialog-titlebar {
  display: none !important;
}
