<div>
  <h2 id="page-heading" data-cy="ShoppingCartHeading">
    <span jhiTranslate="eshopApp.shoppingCart.home.title">Shopping Carts</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="eshopApp.shoppingCart.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-shopping-cart"
        [routerLink]="['/shopping-cart/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="eshopApp.shoppingCart.home.createLabel"> Create a new Shopping Cart </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="shoppingCarts?.length === 0">
    <span jhiTranslate="eshopApp.shoppingCart.home.notFound">No shoppingCarts found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="shoppingCarts && shoppingCarts.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="quantity">
            <span jhiTranslate="eshopApp.shoppingCart.quantity">Quantity</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="shopUser.id">
            <span jhiTranslate="eshopApp.shoppingCart.shopUser">Shop User</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="product.id">
            <span jhiTranslate="eshopApp.shoppingCart.product">Product</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let shoppingCart of shoppingCarts; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/shopping-cart', shoppingCart.id, 'view']">{{ shoppingCart.id }}</a>
          </td>
          <td>{{ shoppingCart.quantity }}</td>
          <td>
            <div *ngIf="shoppingCart.shopUser">
              <a [routerLink]="['/shop-user', shoppingCart.shopUser?.id, 'view']">{{ shoppingCart.shopUser?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="shoppingCart.product">
              <a [routerLink]="['/product', shoppingCart.product?.id, 'view']">{{ shoppingCart.product?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/shopping-cart', shoppingCart.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/shopping-cart', shoppingCart.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(shoppingCart)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="shoppingCarts && shoppingCarts.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>

<!--<p-table [value]="shoppingCarts" responsiveLayout="scroll">-->
<!--  <ng-template pTemplate="caption">-->
<!--    <div class="p-d-flex p-ai-center p-jc-between">-->
<!--      Product-->
<!--      <p-button icon="pi pi-refresh"></p-button>-->
<!--    </div>-->
<!--  </ng-template>-->
<!--  <ng-template pTemplate="header">-->
<!--    <tr>-->
<!--      <th>Product</th>-->
<!--      <th>Image</th>-->
<!--      <th>Price</th>-->
<!--      <th>Category</th>-->
<!--      <th>Quantity</th>-->
<!--      <th>Status</th>-->
<!--    </tr>-->
<!--  </ng-template>-->
<!--  <ng-template pTemplate="body" let-shoppingCart>-->
<!--    <tr>-->
<!--      <td>{{shoppingCart.product.title}}</td>-->
<!--      <td><img [src]=shoppingCart?.product?.imageUrl [alt]="shoppingCart.name" width="100" class="p-shadow-4" /></td>-->
<!--      <td>{{shoppingCart?.product?.price | currency:'USD'}}</td>-->
<!--      <td>{{shoppingCart.product.category}}</td>-->
<!--      <td>{{shoppingCart.quantity}}</td>-->
<!--      <td></td>-->
<!--    </tr>-->
<!--  </ng-template>-->
<!--  &lt;!&ndash;  <ng-template pTemplate="summary">&ndash;&gt;-->
<!--  &lt;!&ndash;    <div class="p-d-flex p-ai-center p-jc-between">&ndash;&gt;-->
<!--  &lt;!&ndash;      In total there are {{products ? products.length : 0 }} products.&ndash;&gt;-->
<!--  &lt;!&ndash;    </div>&ndash;&gt;-->
<!--  &lt;!&ndash;  </ng-template>&ndash;&gt;-->
<!--</p-table>-->
