<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="shopUser">
      <h2 data-cy="shopUserDetailsHeading"><span jhiTranslate="eshopApp.shopUser.detail.title">Shop User</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ shopUser.id }}</span>
        </dd>
        <dt><span jhiTranslate="eshopApp.shopUser.name">Name</span></dt>
        <dd>
          <span>{{ shopUser.name }}</span>
        </dd>
        <dt><span jhiTranslate="eshopApp.shopUser.email">Email</span></dt>
        <dd>
          <span>{{ shopUser.email }}</span>
        </dd>
        <dt><span jhiTranslate="eshopApp.shopUser.password">Password</span></dt>
        <dd>
          <span>{{ shopUser.password }}</span>
        </dd>
        <dt><span jhiTranslate="eshopApp.shopUser.role">Role</span></dt>
        <dd>
          <span jhiTranslate="{{ 'eshopApp.Role.' + shopUser.role }}">{{ shopUser.role }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/shop-user', shopUser.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
